/* Centered usernames */
.usernameSection-3FppkT {
    text-align: center;
  }
  .container-3g15px {
    text-align: center;
  }
  .nameTag-35jqbZ {
    display: flex;
    justify-content: center;
  }